<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="RedisKeyDns" value="marketqueue.redis.cache.windows.net" />
    <add key="RedisPassword" value="ZzLp7cEuWrYMtgcSiQ7l+2Z4Sj3oQP9YK3GsVZe4+kA=" />
  </appSettings>
</configuration>