@model DashBoard.Models.TrendModel
@{
    ViewBag.Title = "Stock Analytics - Dashboard";
}

<script>
    $(function () {
        var series;
        var curTime, value;

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        // Create the chart
        $('#container').highcharts('StockChart', {
            chart: {
                events: {
                    load: function () {
                    }
                }
            },

            rangeSelector: {
                buttons: [{
                    count: 1,
                    type: 'hour',
                    text: '1h'
                }, {
                    count: 2,
                    type: 'hour',
                    text: '2h'
                }, {
                    count: 1,
                    type: 'day',
                    text: '1D'
                }, {
                    count: 1,
                    type: 'month',
                    text: '1M'
                }, {
                    type: 'all',
                    text: 'All'
                }],
                inputEnabled: false,
                selected: 1
            },

            //title: {
            //    text: 'Trend Analysis'
            //},

            exporting: {
                enabled: false
            },

            xAxis: {
                type: 'datetime',
                tickInterval: 3600000,
                dateTimeLabelFormats: {
                    day: '%H:%M'
                }
            },

            series: [{
                name: 'time',
                data: (function () {
                    var data = [], i;
                    var day = new Date();
                    var date = day.getDate();
                    var month = day.getMonth();
                    var year = day.getFullYear();
                    var time = (new Date(year, month, date)).getTime();

                    for (i = 0 * 60; i <= 9 * 60; i += 1) {
                        data.push([
                            time + i * 60000,
                            null
                        ]);
                    }
                    return data;
                }())
            }]
        });
        var chart = $.connection.chartHub;
        function init() {
            chart.server.getAllStocks(getParameterByName("SelectedSymbolId"), getParameterByName("SelectedExchange")).done(function ()
            {

            });
        }

        chart.client.updatePoints = function (time, stockValue) {
            curTime = parseInt(time);
            value = parseFloat(stockValue);
            var chart = $('#container').highcharts('StockChart'),
            series = chart.series[0];
            series.addPoint([curTime, value], true, true);
            chart.redraw;
        }

        // Start the connection
        var exchSelect = document.getElementById("SelectedExchange");
        var selectedExchange = exchSelect.options[exchSelect.selectedIndex].text;
        $.connection.hub.qs = "SelectedExchange=" + selectedExchange;
        $.connection.hub.start().done(init);

    });

    //Get the query string parameter
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>

<div>
    <div class="row">
        @*<div class="col-md-12">
                <div class="alert alert-info" role="alert"><strong>Search </strong></div>
            </div>*@
        <div class="panel panel-primary" style="margin-top:15px">
            <div class="panel-heading">
                <h3 class="panel-title">Search</h3>
            </div>
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
            <div class="panel-body">
                <div class="col-md-2">
                    <div style="margin-top:10px">Exchange: @Html.DropDownListFor(model => model.SelectedExchange, Model.Exchange, new { @class = "form-control", @OnChange="this.form.submit();"})</div>
                </div>
                <div class="col-md-2">
                    <div style="margin-top:10px">Symbol: @Html.DropDownListFor(model => model.SelectedSymbolId, Model.Symbols, new { @class = "form-control" })</div>
                </div>
                <div class="col-md-1">
                    <div style="margin-top:10px">&nbsp; <input type="submit" value="Search" class="btn btn-primary btn-sm" /></div>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary" style="margin-top:15px">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.SelectedSymbolVal - Trend</h3>
            </div>

            <div id="container" class="col-md-12"></div>
        </div>
    </div>
</div>
